* {
  font-family: "Kanit", sans-serif;
  color: rgb(124, 123, 123);
}

body {
  background-color: rgb(235, 235, 234);
  line-height: 200%;
}

hr {
  border: 1px solid pink;
  opacity: 0.5;
}

/* main {
  max-height: 200px;
} */

main h1 {
  font-size: 50px;
  margin-bottom: 0;
  color: rgb(77, 76, 76);
}

p strong {
  color: hotpink;
}

input {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-bar {
  background-color: rgb(235, 235, 234);
  border: none;
  border-radius: 4px;
  padding: 15px;
  width: 70%;
}

.search-bar::placeholder {
  color: hotpink;
}

.search-bar:focus {
  background-color: pink;
  border: 1px solid hotpink;
}

.search-button {
  color: bisque;
  background-color: hotpink;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.search-button:hover {
  background-color: pink;
  color: hotpink;
  transform: scale(105%);
}

.main-container {
  background-color: rgb(255, 254, 252);
  display: block;
  padding: 50px;
  margin: 60px auto;
  max-width: 60%;
  border-radius: 8px;
  filter: drop-shadow(10px 10px 8px rgba(255, 105, 180, 0.2));
}

.current-weather p,
footer p {
  font-weight: 100;
}

a {
  color: hotpink;
  font-weight: 400;
}

.main-weather {
  display: inline;
  padding: 10px;
  top: -100px;
  right: -350px;
  position: relative;
  font-size: 80px;
  font-weight: 600;
}

.degree {
  font-size: 20px;
  font-weight: 200;
  position: relative;
  top: -40px;
  right: -5px;
}

.icon {
  font-size: 25px;
  position: relative;
  top: -10px;
  right: -10px;
}
